/* page-components.js default styles */

:root {
  --paco-has-menu-z-index: 2000;
  --paco-menu-z-index: 99999999;
  --paco-leaflet-control-default-background-color: white;
  --paco-leaflet-control-default-color: black;
  --paco-leaflet-control-hover-background-color: #f4f4f4;
  --paco-leaflet-control-hover-color: black;
  --paco-leaflet-control-selected-background-color: #ccc;
  --paco-leaflet-control-selected-color: black;
  --paco-leaflet-menu-background-color: white;
  --paco-leaflet-menu-color: #333;
  --paco-leaflet-menu-selected-background-color: var(--paco-leaflet-control-selected-background-color);
  --paco-leaflet-menu-selected-color: var(--paco-leaflet-control-selected-color);
  --paco-leaflet-menu-item-padding: .3em;
  --paco-symbol-font: "Noto Sans Symbols";
  --paco-blueback-color: #0000F6;
  --paco-greenback-color: #00F600;
  --paco-opaque-background-color: var(--paco-greenback-color);
  --paco-opaque-color: currentcolor;
}

popup-menu:not([open]) > menu-main {
  display: none;
}

popup-menu[open] > menu-main:not([hidden]) {
  display: block;
}

popup-menu > menu-main {
  position: absolute;
  z-index: var(--paco-menu-z-index);
}

popup-menu[menucontainer] > menu-main {
  max-height: calc(var(--paco-avail-height) - var(--paco-menu-button-bottom));
  max-width: calc(var(--paco-avail-width) - var(--paco-menu-button-left));
  box-sizing: border-box;
}

tab-set[ready] > section:not(.active) {
  display: none;
}

sub-window:not([hidden]) {
  display: block;
}

sub-window-minimized:not([hidden]) {
  display: block;
  pointer-events: auto;
}

sub-window-minimized-container:not([hidden]) {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 50%;
  overflow: auto;
  pointer-events: none;
}

toast-group:not([hidden]) {
  display: flex;
}
toast-group {
  flex-direction: column-reverse;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  max-height: 100vh;
  overflow: auto;
  pointer-events: none; /* XXX but need scrollability */
}

toast-box:not([hidden]) {
  display: flex;
}
toast-box {
  flex-direction: row-reverse;
  margin: .5em;
  width: fit-content;
  pointer-events: all;
  --paco-close-button-label: "\00D7";
}

toast-box-header:not([hidden]) {
  display: block;
}

toast-box-main:not([hidden]) {
  display: block;
  flex: 1;
}

action-status:not([hidden]) {
  display: block;
  font-size: 90%;
  color: gray;
  background: transparent;
}

action-status > * {
  margin-right: .5em;
}

action-status-message {
  unicode-bidi: embed;
}

action-status[status=ok] action-status-message {
  background-color: transparent;
  color: green;
}

action-status[status=ng] action-status-message {
  background-color: red;
  color: white;
}

action-status progress:not([hidden]) {
  display: block;
  width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
}

sandboxed-viewer:not([hidden]) {
  display: inline-block;
}

sandboxed-viewer > iframe:not([hidden]) {
  display: block;
}

sandboxed-viewer > iframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
}

image-editor:not([hidden]) {
  display: inline-block;
  position: relative;
}

image-editor > image-layer:not([hidden]) {
  display: inline-block;
}

image-editor > image-layer {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

image-editor > image-layer[useplaceholderui].placeholder {
  cursor: pointer;
}

image-editor > image-layer[useplaceholderui].placeholder::before {
  position: absolute;
  display: block;
  content: url(noimage.svg);
  width: 100%;
  height: 100%;
}

image-editor > image-layer[movable] {
  cursor: move;
}

image-editor > image-layer.drop-target {
  --background-box-color: rgb(153, 153, 243);
  background-color: transparent;
  background-image:
    linear-gradient(45deg, var(--background-box-color) 25%, transparent 25%, transparent 75%, var(--background-box-color) 75%, var(--background-box-color)),
    linear-gradient(45deg, var(--background-box-color) 25%, transparent 25%, transparent 75%, var(--background-box-color) 75%, var(--background-box-color));
  background-position: 0px 0px, 30px 30px;
  background-size: 60px 60px;
}

image-editor > image-layer > video.capture {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: white;
  color: black;
}

image-editor > image-layer > canvas {
  display: block;
  vertical-align: bottom;
}

qr-code:not([hidden]) {
  display: inline-block;
}

qr-code img {
  vertical-align: bottom;
}

map-area:not([hidden]) {
  display: block;
}
map-area {
  width: 100%;
  height: 300px;
  --paco-fullscreen-title: "Fullscreen";
  --paco-currentposition-title: "Current position";
  --paco-streetview-title: "Street View";
  --paco-zoomin-title: "Zoom in";
  --paco-zoomout-title: "Zoom out";
  --paco-geolocation-failed-message: "Failed to get the current position.";
  --paco-maptype-title: "Map type";
  --paco-open-googlemaps-text: "Open in Google Maps";
  --paco-open-openstreetmap-text: "Open in OpenStreetMap";
  --paco-open-geohack-text: "Open in others...";
  --paco-copy-center-text: "Copy center coordinates";
  --paco--gsi-lang: gsi-standard;
  --paco-maptype-map-text: 'Map';
  --paco-maptype-maplabel-text: 'Labels';
  --paco-maptype-hillshade-text: 'Hillshade';
  --paco-maptype-photo-text: 'Photo';
  --paco-maptype-gsi-photo-text: 'Photo (GSI)';
  --paco-maptype-none-text: 'None';
  --paco-maptype-jmanowc-current-text: 'Rain';
  --paco-maptype-jmanowc-thns-current-text: 'Thunder';
  --paco-maptype-jmanowc-trns-current-text: 'Tornado';
  --paco-maptype-none-text: 'None';
  --paco-maptype-himawari-ir-text: 'Himawari (Infrared)';
  --paco-maptype-himawari-vis-text: 'Himawari (Visible)';
  --paco-maptype-himawari-vap-text: 'Himawari (Water Vapor)';
  --paco-maptype-himawari-color-text: 'Himawari (True Color Reproduction)';
  --paco-maptype-himawari-strengthen-text: 'Himawari (Color Enhanced)';
  --paco-maptype-jma-amedas-temp-text: 'Temperature';
  --paco-maptype-jma-amedas-precipitation10m-text: 'Precipitation (10-min.)';
  --paco-maptype-jma-amedas-precipitation1h-text: 'Precipitation (1-hour)';
  --paco-maptype-jma-amedas-precipitation3h-text: 'Precipitation (3-hour)';
  --paco-maptype-jma-amedas-precipitation24h-text: 'Precipitation (24-hour)';
  --paco-maptype-menu-meteorological: 'Meteorological';
  --paco-marker-currentposition: "\25CF" purple 24px;
  --paco-marker-value: none;
  --paco-legend-show-text: "Show legend";
  --paco-legend-hide-text: "Hide legend";
  --paco-map-legend-initial: shown;
  --paco-map-zoom-animation: auto;
}
map-area:lang(en) {
  --paco--gsi-lang: gsi-english-standard;
}
map-area:lang(ja) {
  --paco-fullscreen-title: "\5168\753B\9762";
  --paco-currentposition-title: "\73FE\5728\5730";
  --paco-streetview-title: "\30B9\30C8\30EA\30FC\30C8\30D3\30E5\30FC";
  --paco-zoomin-title: "\62E1\5927";
  --paco-zoomout-title: "\7E2E\5C0F";
  --paco-geolocation-failed-message: "\73FE\5728\5730\306E\53D6\5F97\306B\5931\6557\3057\307E\3057\305F\3002";
  --paco-maptype-title: "\5730\56F3\306E\7A2E\985E";
  --paco-open-googlemaps-text: "Google Maps \3067\958B\304F";
  --paco-open-openstreetmap-text: "OpenStreetMap \3067\958B\304F";
  --paco-open-geohack-text: "\305D\306E\4ED6\3067\958B\304F...";
  --paco-copy-center-text: "\4E2D\5FC3\306E\5EA7\6A19\3092\30B3\30D4\30FC";
  --paco-maptype-map-text: '\5730\56F3';
  --paco-maptype-maplabel-text: '\30E9\30D9\30EB';
  --paco-maptype-hillshade-text: '\5730\5F62'; /* '\9670\5F71\8D77\4F0F' */
  --paco-maptype-photo-text: '\822A\7A7A\5199\771F';
  --paco-maptype-gsi-photo-text: '\822A\7A7A\5199\771F (\56FD\571F\5730\7406\9662)';
  --paco-maptype-none-text: '\306A\3057';
  --paco-maptype-jmanowc-current-text: '\96E8\96F2\306E\52D5\304D';
  --paco-maptype-jmanowc-thns-current-text: '\96F7\6D3B\52D5\5EA6';
  --paco-maptype-jmanowc-trns-current-text: '\7ADC\5DFB\767A\751F\78BA\5EA6';
  --paco-maptype-himawari-ir-text: '\3072\307E\308F\308A (\8D64\5916\753B\50CF)';
  --paco-maptype-himawari-vis-text: '\3072\307E\308F\308A (\53EF\8996\753B\50CF)';
  --paco-maptype-himawari-vap-text: '\3072\307E\308F\308A (\6C34\84B8\6C17\753B\50CF)';
  --paco-maptype-himawari-color-text: '\3072\307E\308F\308A (\30C8\30A5\30EB\30FC\30AB\30E9\30FC\518D\73FE\753B\50CF)';
  --paco-maptype-himawari-strengthen-text: '\3072\307E\308F\308A (\96F2\9802\5F37\8ABF\753B\50CF)';
  --paco-maptype-jma-amedas-temp-text: '\6C17\6E29';
  --paco-maptype-jma-amedas-precipitation10m-text: '10\5206\9593\964D\6C34\91CF';
  --paco-maptype-jma-amedas-precipitation1h-text: '1\6642\9593\964D\6C34\91CF';
  --paco-maptype-jma-amedas-precipitation3h-text: '3\6642\9593\964D\6C34\91CF';
  --paco-maptype-jma-amedas-precipitation24h-text: '24\6642\9593\964D\6C34\91CF';
  --paco-maptype-menu-meteorological: '\6C17\8C61\60C5\5831';
  --paco-legend-show-text: "\51E1\4F8B\3092\8868\793A";
  --paco-legend-hide-text: "\51E1\4F8B\3092\96A0\3059";
  --paco-map-click-action: none;
}


@media (max-width: 500px) {
  map-area {
    --paco-map-legend-initial: hidden;
  }
}

map-area[formcontrol] {
  --paco-marker-value: url(https://raw.githubusercontent.com/wakaba/html-page-components/master/intermediate/leaflet/marker-icon.png);
  --paco-map-click-action: set-value;
}

map-area > iframe.googlemapsembed:not([hidden]) {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

map-area map-credit {
  padding: 0 6px;
  background: rgba(245, 245, 245, 0.7);
  color: rgb(68, 68, 68);
  line-height: 14px;
  font-size: 10px;
}

map-area map-credit a {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

map-area.leaflet-container.paco-maptype-none {
  background: var(--paco-opaque-background-color);
  color: var(--paco-opaque-color);
}

map-area.leaflet-container.paco-touch-scroll-viewport-none {
  touch-action: none;
}
map-area .leaflet-control-zoom,
map-area .paco-button-container {
  overflow: auto;
}

map-area button.paco-control-button,
map-area button.paco-control-toggle-button {
  -webkit-appearance: none;
  width: auto;
  margin: 0;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 5px;
  background-color: var(--paco-leaflet-control-default-background-color);
  color: var(--paco-leaflet-control-default-color);
  min-width: 30px;
  min-height: 30px;
  line-height: 1;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  user-select: none;
}
map-area button.paco-control-button:hover,
map-area button.paco-control-toggle-button:hover {
  background-color: var(--paco-leaflet-control-hover-background-color);
  color: var(--paco-leaflet-control-hover-color);
}

map-area button.paco-control-toggle-button {
  min-height: 18px;
  font-size: 12px;
}

map-area:fullscreen button.paco-fullscreen-control-button {
  background-color: var(--paco-leaflet-control-selected-background-color);
  color: var(--paco-leaflet-control-selected-color);
}

map-area .leaflet-top.leaflet-left {
  z-index: var(--paco-has-menu-z-index);
}
map-area .leaflet-control.paco-menu-container {
  z-index: var(--paco-menu-z-index);
}

map-area .paco-menu-button-container popup-menu,
map-area .paco-map-type-menu popup-menu {
  --paco-hover-action: open;
}

map-area .paco-menu-button-container popup-menu {
  position: relative;
}

map-area .paco-map-type-menu {
}

map-area popup-menu[open] > button.paco-control-button {
  background-color: var(--paco-leaflet-control-hover-background-color);
  color: var(--paco-leaflet-control-hover-color);
}

map-area .paco-fullscreen-control-button,
map-area .paco-currentposition-control-button,
map-area .paco-maptype-control-button,
map-area .paco-streetview-control-button {
  font-family: var(--paco-symbol-font);
}

map-area .paco-fullscreen-control-button,
map-area .paco-currentposition-control-button,
map-area .paco-streetview-control-button {
  max-width: 33px;
}

map-area popup-menu > button {
  cursor: pointer;
}

map-area .paco-menu-button-container popup-menu > button,
map-area .paco-menu-button-container + popup-menu > button {
  padding: .5em;
  font-size: 1rem;
  vertical-align: middle;
}

map-area .paco-menu-button-container popup-menu > button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 1px;
}
map-area .paco-menu-button-container popup-menu:not(:first-child) > button,
map-area .paco-menu-button-container + popup-menu > button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 1px;
}

map-area .paco-menu-container popup-menu.selected > button,
map-area .paco-menu-container button.selected {
  background-color: var(--paco-leaflet-menu-selected-background-color);
  color: var(--paco-leaflet-menu-selected-color);
}

map-area popup-menu > button::after {
  content: "\25BC";
  font-family: var(--paco-symbol-font);
  font-size: 50%;
  margin: .2em 0 .2em .4em;
  vertical-align: middle;
}
map-area .paco-menu-button-container popup-menu > button::after {
  content: none;
}
map-area .paco-menu-button-container + popup-menu > button::after {
  content: none;
}

map-area popup-menu[open] > menu-main:not([hidden]) {
  display: flex;
}
map-area popup-menu > menu-main {
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: .5em;
  background-color: var(--paco-leaflet-menu-background-color);
  color: var(--paco-leaflet-menu-color);
  font-size: 1rem;
  min-width: 10em;
  width: max-content;
}

map-area .paco-menu-button-container popup-menu > menu-main {
  left: 0 !important;
}

map-area popup-menu > menu-main > menu-item:not([hidden]) {
  display: flex;
  align-items: center;
}

map-area popup-menu > menu-main > menu-item a:not([hidden]),
map-area.leaflet-container popup-menu > menu-main > menu-item > label:only-child:not([hidden]) {
  display: block;
}
map-area popup-menu > menu-main > menu-item a,
map-area.leaflet-container popup-menu > menu-main > menu-item a,
map-area.leaflet-container popup-menu > menu-main > menu-item > label:only-child {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  padding: var(--paco-leaflet-menu-item-padding);
  cursor: pointer;
  flex: 1;
}

map-area popup-menu > menu-main > menu-item > button {
  flex: 1;
  -webkit-appearance: none;
  border: none;
  padding: var(--paco-leaflet-menu-item-padding);
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: start;
  cursor: pointer;
}

map-area popup-menu > menu-main > menu-item a:hover,
map-area popup-menu > menu-main > menu-item a:focus,
map-area popup-menu > menu-main > menu-item a:active,
map-area.leaflet-container popup-menu > menu-main > menu-item label:hover,
map-area.leaflet-container popup-menu > menu-main > menu-item label:focus,
map-area.leaflet-container popup-menu > menu-main > menu-item label:active,
map-area popup-menu > menu-main > menu-item button:hover,
map-area popup-menu > menu-main > menu-item button:focus,
map-area popup-menu > menu-main > menu-item button:active {
  background-color: var(--paco-leaflet-control-hover-background-color);
  color: var(--paco-leaflet-control-hover-color);
}

map-area popup-menu > menu-main > menu-item > popup-menu {
  flex: 1;
  border: none;
  padding: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: start;
  position: relative;
}

map-area popup-menu > menu-main > menu-item > popup-menu > button.paco-control-button {
  width: 100%;
  border: none;
  padding: var(--paco-leaflet-menu-item-padding);
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: start;
}
map-area popup-menu > menu-main > menu-item > popup-menu > button.paco-control-button::after {
  content: none;
}

map-area popup-menu > menu-main > menu-item > popup-menu > menu-main {
  top: 0 !important;
  left: 100% !important;
}

map-area .paco-timestamp-control {
  padding: 2px;
  line-height: 1.2;
  font-feature-settings: "palt";
}

.leaflet-left .paco-timestamp-control {
  margin-left: 5px;
  margin-bottom: 5px;
}

map-area .paco-timestamp-control a {
  text-decoration: none;
}

map-area .paco-jma-timestamp-control {
  background: rgba(255, 255, 255, 0.5);
  color: #333;
}

map-area .paco-jma-timestamp-control > time:not([hidden]) {
  display: block;
}
map-area .paco-jma-timestamp-control time {
  --timejs-serialization: dtsjp2;
}

map-area .paco-jma-timestamp-control-base:not([hidden]) {
  display: block;
}
map-area .paco-jma-timestamp-control-base {
  text-align: end;
}

@media (max-width: 500px) {
  map-area .paco-jma-timestamp-control a:first-child:not([hidden]) {
    display: block;
  }
  map-area .paco-jma-timestamp-control time {
    width: min-content;
  }
}

map-area .paco-map-value-direction {
  font-size: 24px;
  font-weight: bolder;
  font-family: sans-serif;
  color: black;
  background: transparent;
}

map-area .paco-map-value-value {
  font-size: 16px;
  font-weight: bolder;
  font-family: sans-serif;
  color: black;
}

map-area .paco-map-value-value data {
  padding: .5px 2px;
  line-height: 1.0;
  --background: rgba(240, 240, 240, 0.7);
  --border-radius: 8px;
  text-shadow: 2px 2px black;
}

map-area .paco-map-value-temp-35 { color: rgb(180, 0, 104) }
map-area .paco-map-value-temp-30 { color: rgb(255, 40, 0) }
map-area .paco-map-value-temp-25 { color: rgb(255, 153, 0) }
map-area .paco-map-value-temp-20 { color: rgb(250, 245, 0) }
map-area .paco-map-value-temp-15 { color: rgb(255, 255, 150) }
map-area .paco-map-value-temp-10 { color: rgb(255, 255, 240) }
map-area .paco-map-value-temp-5 { color: rgb(185, 235, 255) }
map-area .paco-map-value-temp-0 { color: rgb(0, 150, 255) }
map-area .paco-map-value-temp--5 { color: rgb(0, 65, 255) }
map-area .paco-map-value-temp--10 { color: rgb(0, 32, 128) }

map-area .paco-map-value-precipitation10m-30 { color: rgb(180, 0, 104) }
map-area .paco-map-value-precipitation10m-20 { color: rgb(255, 40, 0) }
map-area .paco-map-value-precipitation10m-15 { color: rgb(255, 153, 0) }
map-area .paco-map-value-precipitation10m-10 { color: rgb(250, 245, 0) }
map-area .paco-map-value-precipitation10m-5 { color: rgb(0, 65, 255) }
map-area .paco-map-value-precipitation10m-3 { color: rgb(33, 140, 255) }
map-area .paco-map-value-precipitation10m-1 { color: rgb(160, 210, 255) }
map-area .paco-map-value-precipitation10m-0 { color: rgb(242, 242, 255) }

map-area .paco-map-value-precipitation1h-80 { color: rgb(180, 0, 104) }
map-area .paco-map-value-precipitation1h-50 { color: rgb(255, 40, 0) }
map-area .paco-map-value-precipitation1h-30 { color: rgb(255, 153, 0) }
map-area .paco-map-value-precipitation1h-20 { color: rgb(250, 245, 0) }
map-area .paco-map-value-precipitation1h-10 { color: rgb(0, 65, 255) }
map-area .paco-map-value-precipitation1h-5 { color: rgb(33, 140, 255) }
map-area .paco-map-value-precipitation1h-1 { color: rgb(160, 210, 255) }
map-area .paco-map-value-precipitation1h-0 { color: rgb(242, 242, 255) }

map-area .paco-map-value-precipitation3h-150 { color: rgb(180, 0, 104) }
map-area .paco-map-value-precipitation3h-120 { color: rgb(255, 40, 0) }
map-area .paco-map-value-precipitation3h-100 { color: rgb(255, 153, 0) }
map-area .paco-map-value-precipitation3h-80 { color: rgb(250, 245, 0) }
map-area .paco-map-value-precipitation3h-60 { color: rgb(0, 65, 255) }
map-area .paco-map-value-precipitation3h-40 { color: rgb(33, 140, 255) }
map-area .paco-map-value-precipitation3h-20 { color: rgb(160, 210, 255) }
map-area .paco-map-value-precipitation3h-0 { color: rgb(242, 242, 255) }

map-area .paco-map-value-precipitation24h-300 { color: rgb(180, 0, 104) }
map-area .paco-map-value-precipitation24h-250 { color: rgb(255, 40, 0) }
map-area .paco-map-value-precipitation24h-200 { color: rgb(255, 153, 0) }
map-area .paco-map-value-precipitation24h-150 { color: rgb(250, 245, 0) }
map-area .paco-map-value-precipitation24h-100 { color: rgb(0, 65, 255) }
map-area .paco-map-value-precipitation24h-80 { color: rgb(33, 140, 255) }
map-area .paco-map-value-precipitation24h-50 { color: rgb(160, 210, 255) }
map-area .paco-map-value-precipitation24h-0 { color: rgb(242, 242, 255) }

map-area .paco-currentposition-container {
  margin-right: 10px;
}

map-area .paco-currentposition-container button.paco-control-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  background: white;
  color: black;
  font-size: 32px;
  user-select: none;
}

map-area .paco-zoomstart {
  transition: opacity .3s;
  opacity: 0;
}

map-area button.paco-control-toggle-button {
  border: none;
}
map-area button.paco-control-toggle-button:not(:hover):not(:active):not(:focus) {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

map-area .leaflet-left .paco-legend-toggle-button-container {
  margin-left: 5px;
}
map-area .leaflet-bottom .paco-legend-toggle-button-container {
  margin-bottom: 5px;
}

map-area.paco-legend-hidden .leaflet-control-scale,
map-area.paco-legend-hidden .paco-legend-control {
  display: none;
}

template-set,
label-set {
  display: none ! important;
}

a[is=copy-url],
button[is=copy-text-content],
can-copy {
  --paco-copied-message: "Copied to the clipboard!";
}
a[is=copy-url]:lang(ja),
button[is=copy-text-content]:lang(ja),
can-copy:lang(ja) {
  --paco-copied-message: "\30AF\30EA\30C3\30D7\30DC\30FC\30C9\306B\30B3\30D4\30FC\3057\307E\3057\305F\3002";
}

can-copy {
  --paco-copy-button-label: "Copy";
}
can-copy:lang(ja) {
  --paco-copy-button-label: "\30B3\30D4\30FC";
}

can-copy time {
  --paco-copy-format: unix-tz-json;
}

details[is=pc-map-credit-details]:not([open]):not([hidden]) {
  display: inline;
}
details[is=pc-map-credit-details][open]:not([hidden]) {
  display: inline-block;
}
details[is=pc-map-credit-details][open] {
  max-width: 35em;
}

details[is=pc-map-credit-details]:not([open]) > summary:not([hidden]) {
  display: inline;
}
details[is=pc-map-credit-details] > summary {
  cursor: pointer;
  color: #0078A8;
  background: transparent;
}
details[is=pc-map-credit-details] > summary:hover {
  text-decoration: underline;
}
details[is=pc-map-credit-details][open] > summary {
  font-weight: bolder;
}

details[is=pc-map-credit-details] p {
  margin: 0;
}

/*

Per CC0 <https://creativecommons.org/publicdomain/zero/1.0/>, to the
extent possible under law, the author has waived all copyright and
related or neighboring rights to this work.

*/
