/* page-components.js default styles */

:root {
  --paco-menu-z-index: 99999999;
  --paco-leaflet-control-default-background-color: white;
  --paco-leaflet-control-default-color: black;
  --paco-leaflet-control-hover-background-color: #f4f4f4;
  --paco-leaflet-control-hover-color: black;
  --paco-leaflet-control-selected-background-color: #ccc;
  --paco-leaflet-control-selected-color: black;
  --paco-leaflet-menu-background-color: white;
  --paco-leaflet-menu-color: #333;
  --paco-leaflet-menu-selected-background-color: var(--paco-leaflet-control-selected-background-color);
  --paco-leaflet-menu-selected-color: var(--paco-leaflet-control-selected-color);
  --paco-leaflet-menu-item-padding: .3em;
  --paco-symbol-font: "Noto Sans Symbols";
  --paco-blueback-color: #0000F6;
  --paco-greenback-color: #00F600;
  --paco-opaque-background-color: var(--paco-greenback-color);
  --paco-opaque-color: currentcolor;
}

popup-menu:not([open]) > menu-main {
  display: none;
}

popup-menu[open] > menu-main:not([hidden]) {
  display: block;
}

popup-menu > menu-main {
  position: absolute;
  z-index: var(--paco-menu-z-index);
}

tab-set[ready] > section:not(.active) {
  display: none;
}

sub-window:not([hidden]) {
  display: block;
}

sub-window-minimized:not([hidden]) {
  display: block;
  pointer-events: auto;
}

sub-window-minimized-container:not([hidden]) {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 50%;
  overflow: auto;
  pointer-events: none;
}

toast-group:not([hidden]) {
  display: flex;
}
toast-group {
  flex-direction: column-reverse;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  max-height: 100vh;
  overflow: auto;
  pointer-events: none; /* XXX but need scrollability */
}

toast-box:not([hidden]) {
  display: flex;
}
toast-box {
  flex-direction: row-reverse;
  margin: .5em;
  width: fit-content;
  pointer-events: all;
  --paco-close-button-label: "\00D7";
}

toast-box-header:not([hidden]) {
  display: block;
}

toast-box-main:not([hidden]) {
  display: block;
  flex: 1;
}

action-status:not([hidden]) {
  display: block;
  font-size: 90%;
  color: gray;
  background: transparent;
}

action-status > * {
  margin-right: .5em;
}

action-status-message {
  unicode-bidi: embed;
}

action-status[status=ok] action-status-message {
  background-color: transparent;
  color: green;
}

action-status[status=ng] action-status-message {
  background-color: red;
  color: white;
}

action-status progress:not([hidden]) {
  display: block;
  width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
}

sandboxed-viewer:not([hidden]) {
  display: inline-block;
}

sandboxed-viewer > iframe:not([hidden]) {
  display: block;
}

sandboxed-viewer > iframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
}

image-editor:not([hidden]) {
  display: inline-block;
  position: relative;
}

image-editor > image-layer:not([hidden]) {
  display: inline-block;
}

image-editor > image-layer {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

image-editor > image-layer[useplaceholderui].placeholder {
  cursor: pointer;
}

image-editor > image-layer[useplaceholderui].placeholder::before {
  position: absolute;
  display: block;
  content: url(noimage.svg);
  width: 100%;
  height: 100%;
}

image-editor > image-layer[movable] {
  cursor: move;
}

image-editor > image-layer.drop-target {
  --background-box-color: rgb(153, 153, 243);
  background-color: transparent;
  background-image:
    linear-gradient(45deg, var(--background-box-color) 25%, transparent 25%, transparent 75%, var(--background-box-color) 75%, var(--background-box-color)),
    linear-gradient(45deg, var(--background-box-color) 25%, transparent 25%, transparent 75%, var(--background-box-color) 75%, var(--background-box-color));
  background-position: 0px 0px, 30px 30px;
  background-size: 60px 60px;
}

image-editor > image-layer > video.capture {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: white;
  color: black;
}

image-editor > image-layer > canvas {
  display: block;
  vertical-align: bottom;
}

qr-code:not([hidden]) {
  display: inline-block;
}

qr-code img {
  vertical-align: bottom;
}

map-area:not([hidden]) {
  display: block;
}
map-area {
  width: 100%;
  height: 300px;
  --paco-fullscreen-title: "Fullscreen";
  --paco-currentposition-title: "Current position";
  --paco-streetview-title: "Street View";
  --paco-zoomin-title: "Zoom in";
  --paco-zoomout-title: "Zoom out";
  --paco-geolocation-failed-message: "Failed to get the current position.";
  --paco-maptype-title: "Map type";
  --paco-open-googlemaps-text: "Open in Google Maps";
  --paco-open-openstreetmap-text: "Open in OpenStreetMap";
  --paco-open-geohack-text: "Open in others...";
  --paco-copy-center-text: "Copy center coordinates";
  --paco--gsi-lang: gsi-standard;
  --paco-maptype-map-text: 'Map';
  --paco-maptype-maplabel-text: 'Labels';
  --paco-maptype-hillshade-text: 'Hillshade';
  --paco-maptype-photo-text: 'Photo';
  --paco-maptype-none-text: 'None';
  --paco-maptype-jmanowc-current-text: 'Rain';
  --paco-maptype-none-text: 'None';
  --paco-marker-currentposition: "\25CF" purple 24px;
  --paco-marker-value: none;
}
map-area:lang(en) {
  --paco--gsi-lang: gsi-english-standard;
}
map-area:lang(ja) {
  --paco-fullscreen-title: "\5168\753B\9762";
  --paco-currentposition-title: "\73FE\5728\5730";
  --paco-streetview-title: "\30B9\30C8\30EA\30FC\30C8\30D3\30E5\30FC";
  --paco-zoomin-title: "\62E1\5927";
  --paco-zoomout-title: "\7E2E\5C0F";
  --paco-geolocation-failed-message: "\73FE\5728\5730\306E\53D6\5F97\306B\5931\6557\3057\307E\3057\305F\3002";
  --paco-maptype-title: "\5730\56F3\306E\7A2E\985E";
  --paco-open-googlemaps-text: "Google Maps \3067\958B\304F";
  --paco-open-openstreetmap-text: "OpenStreetMap \3067\958B\304F";
  --paco-open-geohack-text: "\305D\306E\4ED6\3067\958B\304F...";
  --paco-copy-center-text: "\4E2D\5FC3\306E\5EA7\6A19\3092\30B3\30D4\30FC";
  --paco-maptype-map-text: '\5730\56F3';
  --paco-maptype-maplabel-text: '\30E9\30D9\30EB';
  --paco-maptype-hillshade-text: '\5730\5F62'; /* '\9670\5F71\8D77\4F0F' */
  --paco-maptype-photo-text: '\822A\7A7A\5199\771F';
  --paco-maptype-none-text: '\306A\3057';
  --paco-maptype-jmanowc-current-text: '\96E8\96F2\306E\52D5\304D';
  --paco-map-click-action: none;
}

map-area[formcontrol] {
  --paco-marker-value: url(https://raw.githubusercontent.com/wakaba/html-page-components/master/intermediate/leaflet/marker-icon.png);
  --paco-map-click-action: set-value;
}

map-area > iframe.googlemapsembed:not([hidden]) {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

map-area map-credit {
  padding: 0 6px;
  background: rgba(245, 245, 245, 0.7);
  color: rgb(68, 68, 68);
  line-height: 14px;
  font-size: 10px;
}

map-area map-credit a {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

map-area.leaflet-container.paco-maptype-none {
  background: var(--paco-opaque-background-color);
  color: var(--paco-opaque-color);
}

map-area button.paco-control-button {
  -webkit-appearance: none;
  width: auto;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 5px;
  background-color: var(--paco-leaflet-control-default-background-color);
  color: var(--paco-leaflet-control-default-color);
  min-width: 30px;
  min-height: 30px;
  line-height: 1;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
}
map-area button.paco-control-button:hover {
  background-color: var(--paco-leaflet-control-hover-background-color);
  color: var(--paco-leaflet-control-hover-color);
}
map-area:fullscreen button.paco-fullscreen-control-button {
  background-color: var(--paco-leaflet-control-selected-background-color);
  color: var(--paco-leaflet-control-selected-color);
}

map-area .leaflet-control.paco-menu-container {
  z-index: var(--paco-menu-z-index);
}

map-area .paco-menu-button-container popup-menu,
map-area .paco-map-type-menu,
map-area .paco-map-type-menu popup-menu {
  --paco-hover-action: open;
}

map-area .paco-menu-button-container popup-menu {
  position: relative;
}

map-area .paco-map-type-menu {
}

map-area popup-menu[open] > button.paco-control-button {
  background-color: var(--paco-leaflet-control-hover-background-color);
  color: var(--paco-leaflet-control-hover-color);
}

map-area .paco-fullscreen-control-button,
map-area .paco-currentposition-control-button,
map-area .paco-maptype-control-button {
  font-family: var(--paco-symbol-font);
}

map-area popup-menu > button {
  cursor: pointer;
}

map-area .paco-menu-button-container popup-menu > button,
map-area .paco-menu-button-container + popup-menu > button {
  padding: .5em;
  font-size: 1rem;
  vertical-align: middle;
}

map-area .paco-menu-button-container popup-menu > button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 1px;
}
map-area .paco-menu-button-container popup-menu:not(:first-child) > button,
map-area .paco-menu-button-container + popup-menu > button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 1px;
}

map-area .paco-menu-container popup-menu.selected > button,
map-area .paco-menu-container button.selected {
  background-color: var(--paco-leaflet-menu-selected-background-color);
  color: var(--paco-leaflet-menu-selected-color);
}

map-area popup-menu > button::after {
  content: "\25BC";
  font-family: var(--paco-symbol-font);
  font-size: 50%;
  margin: .2em 0 .2em .4em;
  vertical-align: middle;
}
map-area .paco-menu-button-container popup-menu > button::after {
  content: none;
}
map-area .paco-menu-button-container + popup-menu > button::after {
  content: none;
}

map-area popup-menu > menu-main {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: .5em;
  background-color: var(--paco-leaflet-menu-background-color);
  color: var(--paco-leaflet-menu-color);
  font-size: 1rem;
  min-width: 10em;
  width: max-content;
}

map-area .paco-menu-button-container popup-menu > menu-main {
  left: 0 !important;
}

map-area popup-menu > menu-main > menu-item:not([hidden]) {
  display: flex;
  align-items: center;
}

map-area popup-menu > menu-main > menu-item a:not([hidden]),
map-area.leaflet-container popup-menu > menu-main > menu-item > label:only-child:not([hidden]) {
  display: block;
}
map-area popup-menu > menu-main > menu-item a,
map-area.leaflet-container popup-menu > menu-main > menu-item a,
map-area.leaflet-container popup-menu > menu-main > menu-item > label:only-child {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  padding: var(--paco-leaflet-menu-item-padding);
  cursor: pointer;
  flex: 1;
}
map-area popup-menu > menu-main > menu-item a:hover,
map-area popup-menu > menu-main > menu-item a:focus,
map-area popup-menu > menu-main > menu-item a:active {
  background-color: var(--paco-leaflet-control-hover-background-color);
  color: var(--paco-leaflet-control-hover-color);
}

map-area popup-menu > menu-main > menu-item > button {
  flex: 1;
  -webkit-appearance: none;
  border: none;
  padding: var(--paco-leaflet-menu-item-padding);
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: start;
  cursor: pointer;
}

map-area popup-menu > menu-main > menu-item > popup-menu {
  flex: 1;
  border: none;
  padding: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: start;
  position: relative;
}

map-area popup-menu > menu-main > menu-item > popup-menu > button.paco-control-button {
  width: 100%;
  border: none;
  padding: var(--paco-leaflet-menu-item-padding);
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: start;
}
map-area popup-menu > menu-main > menu-item > popup-menu > button.paco-control-button::after {
  content: none;
}

map-area popup-menu > menu-main > menu-item > popup-menu > menu-main {
  top: 0 !important;
  left: 100% !important;
}

map-area .paco-timestamp-control a {
  text-decoration: none;
}

map-area .paco-jma-timestamp-control {
  background: rgba(255, 255, 255, 0.5);
  color: #333;
}

map-area .paco-jma-timestamp-control time:not([hidden]) {
  display: block;
}
map-area .paco-jma-timestamp-control time {
  --timejs-serialization: dtsjp2;
}

map-area .paco-currentposition-container {
  margin-right: 10px;
}

map-area .paco-currentposition-container button.paco-control-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  background: white;
  color: black;
  font-size: 32px;
  user-select: none;
}

template-set {
  display: none ! important;
}

a[is=copy-url],
button[is=copy-text-content],
can-copy {
  --paco-copied-message: "Copied to the clipboard!";
}
a[is=copy-url]:lang(ja),
button[is=copy-text-content]:lang(ja),
can-copy:lang(ja) {
  --paco-copied-message: "\30AF\30EA\30C3\30D7\30DC\30FC\30C9\306B\30B3\30D4\30FC\3057\307E\3057\305F\3002";
}

can-copy {
  --paco-copy-button-label: "Copy";
}
can-copy:lang(ja) {
  --paco-copy-button-label: "\30B3\30D4\30FC";
}

can-copy time {
  --paco-copy-format: unix-tz-json;
}

details[is=pc-map-credit-details]:not([open]):not([hidden]) {
  display: inline;
}
details[is=pc-map-credit-details][open]:not([hidden]) {
  display: inline-block;
}
details[is=pc-map-credit-details][open] {
  max-width: 35em;
}

details[is=pc-map-credit-details]:not([open]) > summary:not([hidden]) {
  display: inline;
}
details[is=pc-map-credit-details] > summary {
  cursor: pointer;
  color: #0078A8;
  background: transparent;
}
details[is=pc-map-credit-details] > summary:hover {
  text-decoration: underline;
}
details[is=pc-map-credit-details][open] > summary {
  font-weight: bolder;
}

details[is=pc-map-credit-details] p {
  margin: 0;
}

/*

Per CC0 <https://creativecommons.org/publicdomain/zero/1.0/>, to the
extent possible under law, the author has waived all copyright and
related or neighboring rights to this work.

*/
